src/main/resources/endpoints/devices.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.mob.com/serverapi/device/base"
           targetNamespace="http://www.mob.com/serverapi/device/base" elementFormDefault="qualified">

    <!-- GetDeviceById-->
    <xs:element name="GetDeviceByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deviceId"  type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetDeviceByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="device" type="tns:Device"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetDevicesFiltered-->
    <xs:element name="GetDevicesFilteredRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deviceId"  type="xs:string" />
                <xs:element name="resellerId"  type="xs:string" />
                <xs:element name="status"  type="xs:string" />
                <xs:element name="startCreationDate"  type="xs:string" />
                <xs:element name="endCreationDate"  type="xs:string" />
                <xs:element name="startActivationDate"  type="xs:string" />
                <xs:element name="endActivationDate"  type="xs:string" />
                <xs:element name="startExpirationDate"  type="xs:string" />
                <xs:element name="endExpirationDate"  type="xs:string" />
                <xs:element name="field"  type="xs:string" />
                <xs:element name="orderField"  type="xs:string" />
                <xs:element name="offset"  type="xs:int"/>
                <xs:element name="numberRecords"  type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetDevicesFilteredResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="device" type="tns:Device" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetCountDevicesFiltered-->
    <xs:element name="GetCountDevicesFilteredRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deviceId"  type="xs:string" />
                <xs:element name="resellerId"  type="xs:string" />
                <xs:element name="status"  type="xs:string" />
                <xs:element name="startCreationDate"  type="xs:string" />
                <xs:element name="endCreationDate"  type="xs:string" />
                <xs:element name="startActivationDate"  type="xs:string" />
                <xs:element name="endActivationDate"  type="xs:string" />
                <xs:element name="startExpirationDate"  type="xs:string" />
                <xs:element name="endExpirationDate"  type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCountDevicesFilteredResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SetDevice-->
    <xs:element name="SetDeviceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="brand" type="xs:string"/>
                <xs:element name="model" type="xs:string"/>
                <xs:element name="serialNumber" type="xs:string"/>
                <xs:element name="imeiNumber" type="xs:string"/>
                <xs:element name="simNumber" type="xs:string"/>
                <xs:element name="androidId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SetDeviceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="device" type="tns:Device"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SetDeviceList-->
    <xs:element name="SetDeviceListRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="device" type="tns:Device" maxOccurs="unbounded"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SetDeviceListResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="device" type="tns:Device" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- AssignDevice-->
    <xs:element name="AssignDeviceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deviceId" type="xs:string"/>
                <xs:element name="resellerId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AssignDeviceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="device" type="tns:Device"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ActivateDevice-->
    <xs:element name="ActivateDeviceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deviceId" type="xs:string"/>
                <xs:element name="ownerNickname" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ActivateDeviceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="device" type="tns:Device"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- BlockDevice-->
    <xs:element name="BlockDeviceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deviceId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="BlockDeviceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="device" type="tns:Device"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- WipeDevice-->
    <xs:element name="WipeDeviceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deviceId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="WipeDeviceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="device" type="tns:Device"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SuspendDevice-->
    <xs:element name="SuspendDeviceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deviceId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SuspendDeviceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="device" type="tns:Device"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SetDeviceNotes-->
    <xs:element name="SetDeviceNotesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deviceId" type="xs:string"/>
                <xs:element name="notes" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SetDeviceNotesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="device" type="tns:Device"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SetDeviceBalanceMovement-->
    <xs:element name="setDeviceBalanceMovementRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deviceId" type="xs:string"/>
                <xs:element name="debitCredit" type="xs:string" />
                <xs:element name="movementValue" type="xs:float"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SetDeviceBalanceMovementResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetDeviceBalanceMovements-->
    <xs:element name="GetDeviceBalanceMovementsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deviceId"  type="xs:string" />
                <xs:element name="startMovementDate"  type="xs:string" />
                <xs:element name="endMovementDate"  type="xs:string" />
                <xs:element name="minValue"  type="xs:string" />
                <xs:element name="maxValue"  type="xs:string" />
                <xs:element name="debitCredit"  type="xs:string" />
                <xs:element name="field"  type="xs:string" />
                <xs:element name="orderField"  type="xs:string" />
                <xs:element name="offset"  type="xs:int"/>
                <xs:element name="numberRecords"  type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetDeviceBalanceMovementsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deviceBalance" type="tns:DeviceBalance" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetCountDeviceBalanceMovements-->
    <xs:element name="GetCountDeviceBalanceMovementsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deviceId"  type="xs:string" />
                <xs:element name="startMovementDate"  type="xs:string" />
                <xs:element name="endMovementDate"  type="xs:string" />
                <xs:element name="minValue"  type="xs:string" />
                <xs:element name="maxValue"  type="xs:string" />
                <xs:element name="debitCredit"  type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCountDeviceBalanceMovementsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:long" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!-- Endpoint Device Object-->
    <xs:complexType name="Device">
        <xs:sequence>
            <xs:element name="deviceId"  type="xs:string" minOccurs="0" />
            <xs:element name="resellerId" type="xs:string" minOccurs="0"/>
            <xs:element name="deviceStatus" type="xs:string" minOccurs="0"/>
            <xs:element name="brand" type="xs:string"/>
            <xs:element name="model" type="xs:string"/>
            <xs:element name="serialNumber" type="xs:string"/>
            <xs:element name="imeiNumber" type="xs:string"/>
            <xs:element name="simNumber" type="xs:string"/>
            <xs:element name="androidId" type="xs:string"/>
            <xs:element name="firstSimNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="creationDate" type="xs:string" minOccurs="0"/>
            <xs:element name="lastConnection" type="xs:string" minOccurs="0"/>
            <xs:element name="lastBackup" type="xs:string" minOccurs="0"/>
            <xs:element name="activationDate" type="xs:string" minOccurs="0"/>
            <xs:element name="expireDate" type="xs:string" minOccurs="0"/>
            <xs:element name="currentBalance" type="xs:float" minOccurs="0"/>
            <xs:element name="currentMinutes" type="xs:float" minOccurs="0"/>
            <xs:element name="notes" type="xs:string" minOccurs="0"/>
            <xs:element name="osVersion" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Endpoint DeviceBalance Object-->
    <xs:complexType name="DeviceBalance">
        <xs:sequence>
            <xs:element name="deviceBalanceId"  type="xs:string"/>
            <xs:element name="debitCredit" type="xs:string" />
            <xs:element name="movementValue" type="xs:float"/>
            <xs:element name="movementDate" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>