src/main/resources/endpoints/devices.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.mob.com/serverapi/device/base"
           targetNamespace="http://www.mob.com/serverapi/device/base" elementFormDefault="qualified">

    <!-- getDeviceById-->
    <xs:element name="getDeviceByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deviceId"  type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getDeviceByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="device" type="tns:device"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- getDevicesFiltered-->
    <xs:element name="getDevicesFilteredRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deviceId"  type="xs:string" />
                <xs:element name="resellerId"  type="xs:string" />
                <xs:element name="status"  type="xs:string" />
                <xs:element name="startCreationDate"  type="xs:string" />
                <xs:element name="endCreationDate"  type="xs:string" />
                <xs:element name="startActivationDate"  type="xs:string" />
                <xs:element name="endActivationDate"  type="xs:string" />
                <xs:element name="startExpirationDate"  type="xs:string" />
                <xs:element name="endExpirationDate"  type="xs:string" />
                <xs:element name="field"  type="xs:string" />
                <xs:element name="orderField"  type="xs:string" />
                <xs:element name="offset"  type="xs:int"/>
                <xs:element name="numberRecords"  type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getDevicesFilteredResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="device" type="tns:device" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- getCountDevicesFiltered-->
    <xs:element name="getCountDevicesFilteredRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deviceId"  type="xs:string" />
                <xs:element name="resellerId"  type="xs:string" />
                <xs:element name="status"  type="xs:string" />
                <xs:element name="startCreationDate"  type="xs:string" />
                <xs:element name="endCreationDate"  type="xs:string" />
                <xs:element name="startActivationDate"  type="xs:string" />
                <xs:element name="endActivationDate"  type="xs:string" />
                <xs:element name="startExpirationDate"  type="xs:string" />
                <xs:element name="endExpirationDate"  type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getCountDevicesFilteredResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- setDevice-->
    <xs:element name="setDeviceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="brand" type="xs:string"/>
                <xs:element name="model" type="xs:string"/>
                <xs:element name="serialNumber" type="xs:string"/>
                <xs:element name="imeiNumber" type="xs:string"/>
                <xs:element name="simNumber" type="xs:string"/>
                <xs:element name="androidId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="setDeviceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="device" type="tns:device"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- setDeviceList-->
    <xs:element name="setDeviceListRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="device" type="tns:device" maxOccurs="unbounded"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="setDeviceListResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="device" type="tns:device" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- assignDevice-->
    <xs:element name="assignDeviceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deviceId" type="xs:string"/>
                <xs:element name="resellerId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="assignDeviceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="device" type="tns:device"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- activateDevice-->
    <xs:element name="activateDeviceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deviceId" type="xs:string"/>
                <xs:element name="ownerNickname" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="activateDeviceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="device" type="tns:device"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- blockDevice-->
    <xs:element name="blockDeviceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deviceId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="blockDeviceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="device" type="tns:device"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- wipeDevice-->
    <xs:element name="wipeDeviceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deviceId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="wipeDeviceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="device" type="tns:device"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- suspendDevice-->
    <xs:element name="suspendDeviceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deviceId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="suspendDeviceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="device" type="tns:device"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- setDeviceNotes-->
    <xs:element name="setDeviceNotesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deviceId" type="xs:string"/>
                <xs:element name="notes" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="setDeviceNotesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="device" type="tns:device"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- setDeviceBalanceMovement-->
    <xs:element name="setDeviceBalanceMovementRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deviceId" type="xs:string"/>
                <xs:element name="debitCredit" type="xs:string" />
                <xs:element name="movementValue" type="xs:float"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="setDeviceBalanceMovementResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- getDeviceBalanceMovements-->
    <xs:element name="getDeviceBalanceMovementsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deviceId"  type="xs:string" />
                <xs:element name="startMovementDate"  type="xs:string" />
                <xs:element name="endMovementDate"  type="xs:string" />
                <xs:element name="minValue"  type="xs:string" />
                <xs:element name="maxValue"  type="xs:string" />
                <xs:element name="debitCredit"  type="xs:string" />
                <xs:element name="field"  type="xs:string" />
                <xs:element name="orderField"  type="xs:string" />
                <xs:element name="offset"  type="xs:int"/>
                <xs:element name="numberRecords"  type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getDeviceBalanceMovementsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deviceBalance" type="tns:deviceBalance" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- getCountDeviceBalanceMovements-->
    <xs:element name="getCountDeviceBalanceMovementsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deviceId"  type="xs:string" />
                <xs:element name="startMovementDate"  type="xs:string" />
                <xs:element name="endMovementDate"  type="xs:string" />
                <xs:element name="minValue"  type="xs:string" />
                <xs:element name="maxValue"  type="xs:string" />
                <xs:element name="debitCredit"  type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getCountDeviceBalanceMovementsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:long" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!-- Endpoint Device Object-->
    <xs:complexType name="device">
        <xs:sequence>
            <xs:element name="deviceId"  type="xs:string" minOccurs="0" />
            <xs:element name="resellerId" type="xs:string" minOccurs="0"/>
            <xs:element name="deviceStatus" type="xs:string" minOccurs="0"/>
            <xs:element name="brand" type="xs:string"/>
            <xs:element name="model" type="xs:string"/>
            <xs:element name="serialNumber" type="xs:string"/>
            <xs:element name="imeiNumber" type="xs:string"/>
            <xs:element name="simNumber" type="xs:string"/>
            <xs:element name="androidId" type="xs:string"/>
            <xs:element name="firstSimNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="creationDate" type="xs:string" minOccurs="0"/>
            <xs:element name="lastConnection" type="xs:string" minOccurs="0"/>
            <xs:element name="lastBackup" type="xs:string" minOccurs="0"/>
            <xs:element name="activationDate" type="xs:string" minOccurs="0"/>
            <xs:element name="expireDate" type="xs:string" minOccurs="0"/>
            <xs:element name="currentBalance" type="xs:float" minOccurs="0"/>
            <xs:element name="currentMinutes" type="xs:float" minOccurs="0"/>
            <xs:element name="notes" type="xs:string" minOccurs="0"/>
            <xs:element name="osVersion" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Endpoint DeviceBalance Object-->
    <xs:complexType name="deviceBalance">
        <xs:sequence>
            <xs:element name="deviceBalanceId"  type="xs:string"/>
            <xs:element name="debitCredit" type="xs:string" />
            <xs:element name="movementValue" type="xs:float"/>
            <xs:element name="movementDate" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>