src/main/resources/endpoints/resellers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.mob.com/serverapi/reseller/base"
           targetNamespace="http://www.mob.com/serverapi/reseller/base" elementFormDefault="qualified">

    <!-- getResellerById-->
    <xs:element name="getResellerByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerId"  type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getResellerByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reseller" type="tns:reseller"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- getResellerByUserId-->
    <xs:element name="getResellerByUserIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId"  type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getResellerByUserIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reseller" type="tns:reseller"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- getResellerByUserDeviceName-->
    <xs:element name="getResellerByUserDeviceNameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userDeviceName"  type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getResellerByUserDeviceNameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reseller" type="tns:reseller"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- getResellerFiltered-->
    <xs:element name="getResellerFilteredRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerId"  type="xs:string" />
                <xs:element name="resellerName"  type="xs:string" />
                <xs:element name="onlyChildren"  type="xs:boolean"/>
                <xs:element name="field"  type="xs:string" />
                <xs:element name="orderField"  type="xs:string" />
                <xs:element name="offset"  type="xs:int"/>
                <xs:element name="numberRecords"  type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getResellerFilteredResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reseller" type="tns:reseller" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- getAvailableResellerParent-->
    <xs:element name="getAvailableResellerParentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerId"  type="xs:string" />
                <xs:element name="offset"  type="xs:int"/>
                <xs:element name="numberRecords"  type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getAvailableResellerParentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reseller" type="tns:reseller" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- getCountAvailableResellerParent-->
    <xs:element name="getCountAvailableResellerParentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerId"  type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getCountAvailableResellerParentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:long" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- getResellerBalanceMovements-->
    <xs:element name="getResellerBalanceMovementsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerId"  type="xs:string" />
                <xs:element name="startMovementDate"  type="xs:string" />
                <xs:element name="endMovementDate"  type="xs:string" />
                <xs:element name="minValue"  type="xs:string" />
                <xs:element name="maxValue"  type="xs:string" />
                <xs:element name="debitCredit"  type="xs:string" />
                <xs:element name="field"  type="xs:string" />
                <xs:element name="orderField"  type="xs:string" />
                <xs:element name="offset"  type="xs:int"/>
                <xs:element name="numberRecords"  type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getResellerBalanceMovementsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerBalance" type="tns:resellerBalance" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- getCountResellerBalanceMovements-->
    <xs:element name="getCountResellerBalanceMovementsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerId"  type="xs:string" />
                <xs:element name="startMovementDate"  type="xs:string" />
                <xs:element name="endMovementDate"  type="xs:string" />
                <xs:element name="minValue"  type="xs:string" />
                <xs:element name="maxValue"  type="xs:string" />
                <xs:element name="debitCredit"  type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getCountResellerBalanceMovementsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:long" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- getCountResellerFiltered-->
    <xs:element name="getCountResellerFilteredRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerId"  type="xs:string" />
                <xs:element name="resellerName"  type="xs:string" />
                <xs:element name="onlyChildren"  type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getCountResellerFilteredResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- getResellerAssociation-->
    <xs:element name="getResellerAssociationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="parentResellerId"  type="xs:string"/>
                <xs:element name="childResellerId"  type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getResellerAssociationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerAssociation" type="tns:resellerAssociation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- getResellerParentByChildId-->
    <xs:element name="getResellerParentByChildIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="childResellerId"  type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getResellerParentByChildIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reseller" type="tns:reseller"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- setReseller-->
    <xs:element name="setResellerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="setResellerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reseller" type="tns:reseller"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- setResellerBalanceMovement-->
    <xs:element name="setResellerBalanceMovementRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerId" type="xs:string"/>
                <xs:element name="debitCredit" type="xs:string" />
                <xs:element name="movementValue" type="xs:float"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="setResellerBalanceMovementResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!-- setResellerAssociation-->
    <xs:element name="setResellerAssociationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="parentResellerId" type="xs:string"/>
                <xs:element name="childResellerId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="setResellerAssociationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- removeReseller-->
    <xs:element name="removeResellerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="removeResellerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- removeResellerAssociation-->
    <xs:element name="removeResellerAssociationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="parentResellerId" type="xs:string"/>
                <xs:element name="childResellerId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="removeResellerAssociationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Endpoint Reseller Object-->
    <xs:complexType name="reseller">
        <xs:sequence>
            <xs:element name="resellerId"  type="xs:string"/>
            <xs:element name="userId" type="xs:string"/>
            <xs:element name="resellerName" type="xs:string"/>
            <xs:element name="currentBalance" type="xs:float"/>
            <xs:element name="totalDevices" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Endpoint ResellerAssociation Object-->
    <xs:complexType name="resellerAssociation">
        <xs:sequence>
            <xs:element name="resellerAssociationId"  type="xs:string"/>
            <xs:element name="parentResellerId" type="xs:string"/>
            <xs:element name="childResellerId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Endpoint RsellerBalance Object-->
    <xs:complexType name="resellerBalance">
        <xs:sequence>
            <xs:element name="resellerBalanceId"  type="xs:string"/>
            <xs:element name="debitCredit" type="xs:string" />
            <xs:element name="movementValue" type="xs:float"/>
            <xs:element name="movementDate" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>