src/main/resources/endpoints/resellers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.mob.com/serverapi/reseller/base"
           targetNamespace="http://www.mob.com/serverapi/reseller/base" elementFormDefault="qualified">

    <!-- GetResellerById-->
    <xs:element name="GetResellerByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerId"  type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetResellerByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reseller" type="tns:Reseller"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetResellerByUserId-->
    <xs:element name="GetResellerByUserIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId"  type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetResellerByUserIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reseller" type="tns:Reseller"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetResellerByUserDeviceName-->
    <xs:element name="GetResellerByUserDeviceNameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userDeviceName"  type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetResellerByUserDeviceNameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reseller" type="tns:Reseller"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetResellerFiltered-->
    <xs:element name="GetResellerFilteredRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerId"  type="xs:string" />
                <xs:element name="resellerName"  type="xs:string" />
                <xs:element name="onlyChildren"  type="xs:boolean"/>
                <xs:element name="field"  type="xs:string" />
                <xs:element name="orderField"  type="xs:string" />
                <xs:element name="offset"  type="xs:int"/>
                <xs:element name="numberRecords"  type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetResellerFilteredResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reseller" type="tns:Reseller" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetAvailableResellerParent-->
    <xs:element name="GetAvailableResellerParentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerId"  type="xs:string" />
                <xs:element name="offset"  type="xs:int"/>
                <xs:element name="numberRecords"  type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetAvailableResellerParentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reseller" type="tns:Reseller" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetCountAvailableResellerParent-->
    <xs:element name="GetCountAvailableResellerParentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerId"  type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCountAvailableResellerParentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:long" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetResellerBalanceMovements-->
    <xs:element name="GetResellerBalanceMovementsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerId"  type="xs:string" />
                <xs:element name="startMovementDate"  type="xs:string" />
                <xs:element name="endMovementDate"  type="xs:string" />
                <xs:element name="minValue"  type="xs:string" />
                <xs:element name="maxValue"  type="xs:string" />
                <xs:element name="debitCredit"  type="xs:string" />
                <xs:element name="movementType" type="xs:string"/>
                <xs:element name="field"  type="xs:string" />
                <xs:element name="orderField"  type="xs:string" />
                <xs:element name="offset"  type="xs:int"/>
                <xs:element name="numberRecords"  type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetResellerBalanceMovementsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerBalance" type="tns:ResellerBalance" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetCountResellerBalanceMovements-->
    <xs:element name="GetCountResellerBalanceMovementsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerId"  type="xs:string" />
                <xs:element name="startMovementDate"  type="xs:string" />
                <xs:element name="endMovementDate"  type="xs:string" />
                <xs:element name="minValue"  type="xs:string" />
                <xs:element name="maxValue"  type="xs:string" />
                <xs:element name="debitCredit"  type="xs:string" />
                <xs:element name="movementType" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCountResellerBalanceMovementsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:long" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetCountResellerFiltered-->
    <xs:element name="GetCountResellerFilteredRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerId"  type="xs:string" />
                <xs:element name="resellerName"  type="xs:string" />
                <xs:element name="onlyChildren"  type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCountResellerFilteredResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetResellerAssociation-->
    <xs:element name="GetResellerAssociationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="parentResellerId"  type="xs:string"/>
                <xs:element name="childResellerId"  type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetResellerAssociationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerAssociation" type="tns:ResellerAssociation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetResellerParentByChildId-->
    <xs:element name="GetResellerParentByChildIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="childResellerId"  type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetResellerParentByChildIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reseller" type="tns:Reseller"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SetReseller-->
    <xs:element name="SetResellerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SetResellerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reseller" type="tns:Reseller"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SetResellerBalanceMovement-->
    <xs:element name="SetResellerBalanceMovementRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerId" type="xs:string"/>
                <xs:element name="debitCredit" type="xs:string" />
                <xs:element name="movementValue" type="xs:float"/>
                <xs:element name="movementType" type="xs:string"/>
                <xs:element name="movementDetail" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SetResellerBalanceMovementResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!-- SetResellerAssociation-->
    <xs:element name="SetResellerAssociationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="parentResellerId" type="xs:string"/>
                <xs:element name="childResellerId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SetResellerAssociationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- RemoveReseller-->
    <xs:element name="RemoveResellerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RemoveResellerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- RemoveResellerAssociation-->
    <xs:element name="RemoveResellerAssociationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="parentResellerId" type="xs:string"/>
                <xs:element name="childResellerId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RemoveResellerAssociationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- IsHierarchyValid-->
    <xs:element name="IsHierarchyValidRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerId" type="xs:string"/>
                <xs:element name="childResellerId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="IsHierarchyValidResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Endpoint Reseller Object-->
    <xs:complexType name="Reseller">
        <xs:sequence>
            <xs:element name="resellerId"  type="xs:string"/>
            <xs:element name="userId" type="xs:string"/>
            <xs:element name="resellerName" type="xs:string"/>
            <xs:element name="currentBalance" type="xs:float"/>
            <xs:element name="totalDevices" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Endpoint ResellerAssociation Object-->
    <xs:complexType name="ResellerAssociation">
        <xs:sequence>
            <xs:element name="resellerAssociationId"  type="xs:string"/>
            <xs:element name="parentResellerId" type="xs:string"/>
            <xs:element name="childResellerId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Endpoint ResellerBalance Object-->
    <xs:complexType name="ResellerBalance">
        <xs:sequence>
            <xs:element name="resellerBalanceId"  type="xs:string"/>
            <xs:element name="debitCredit" type="xs:string" />
            <xs:element name="movementValue" type="xs:float"/>
            <xs:element name="movementDate" type="xs:string"/>
            <xs:element name="movementType" type="xs:string"/>
            <xs:element name="movementDetail" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>