src/main/resources/endpoints/support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.mob.com/serverapi/support/base"
           targetNamespace="http://www.mob.com/serverapi/support/base" elementFormDefault="qualified">

    <!-- GetSupportById-->
    <xs:element name="GetSupportByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="supportId"  type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetSupportByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="support" type="tns:Support"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetSupportByUserId-->
    <xs:element name="GetSupportByUserIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId"  type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetSupportByUserIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="support" type="tns:Support"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetSupportFiltered-->
    <xs:element name="GetSupportFilteredRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="supportId"  type="xs:string" />
                <xs:element name="supportName"  type="xs:string" />
                <xs:element name="onlyChildren"  type="xs:boolean"/>
                <xs:element name="field"  type="xs:string" />
                <xs:element name="orderField"  type="xs:string" />
                <xs:element name="offset"  type="xs:int"/>
                <xs:element name="numberRecords"  type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetSupportFilteredResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="support" type="tns:Support" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetTicketFiltered-->
    <xs:element name="GetTicketFilteredRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ticketId"  type="xs:string" />
                <xs:element name="ticketStatus"  type="xs:string" />
                <xs:element name="startCreationDate"  type="xs:string" />
                <xs:element name="endCreationDate"  type="xs:string" />
                <xs:element name="field"  type="xs:string" />
                <xs:element name="orderField"  type="xs:string" />
                <xs:element name="offset"  type="xs:int"/>
                <xs:element name="numberRecords"  type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetTicketFilteredResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ticket" type="tns:Ticket" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetTicketDetailFiltered-->
    <xs:element name="GetTicketDetailFilteredRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ticketId"  type="xs:string" />
                <xs:element name="startDetailDate"  type="xs:string" />
                <xs:element name="endDetailDate"  type="xs:string" />
                <xs:element name="field"  type="xs:string" />
                <xs:element name="orderField"  type="xs:string" />
                <xs:element name="offset"  type="xs:int"/>
                <xs:element name="numberRecords"  type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetTicketDetailFilteredResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ticketDetail" type="tns:TicketDetail" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetCountTicketDetailFiltered-->
    <xs:element name="GetCountTicketDetailFilteredRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ticketId"  type="xs:string" />
                <xs:element name="startDetailDate"  type="xs:string" />
                <xs:element name="endDetailDate"  type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCountTicketDetailFilteredResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetCountSupportFiltered-->
    <xs:element name="GetCountSupportFilteredRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="supportId"  type="xs:string" />
                <xs:element name="supportName"  type="xs:string" />
                <xs:element name="onlyChildren"  type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCountSupportFilteredResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetCountTicketFiltered-->
    <xs:element name="GetCountTicketFilteredRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ticketId"  type="xs:string" />
                <xs:element name="ticketStatus"  type="xs:string" />
                <xs:element name="startCreationDate"  type="xs:string" />
                <xs:element name="endCreationDate"  type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCountTicketFilteredResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetSupportAssociation-->
    <xs:element name="GetSupportAssociationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="parentSupportId"  type="xs:string"/>
                <xs:element name="childSupportId"  type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetSupportAssociationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="supportAssociation" type="tns:SupportAssociation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetSupportParentByChildId-->
    <xs:element name="GetSupportParentByChildIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="childSupportId"  type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetSupportParentByChildIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="support" type="tns:Support"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetAvailableSupportParent-->
    <xs:element name="GetAvailableSupportParentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="supportId"  type="xs:string" />
                <xs:element name="offset"  type="xs:int"/>
                <xs:element name="numberRecords"  type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetAvailableSupportParentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="support" type="tns:Support" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetCountAvailableSupportParent-->
    <xs:element name="GetCountAvailableSupportParentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="supportId"  type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCountAvailableSupportParentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:long" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SetSupport-->
    <xs:element name="SetSupportRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SetSupportResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="support" type="tns:Support"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SetSupportAssociation-->
    <xs:element name="SetSupportAssociationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="parentSupportId" type="xs:string"/>
                <xs:element name="childSupportId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SetSupportAssociationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SetTicket-->
    <xs:element name="SetTicketRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="xs:string"/>
                <xs:element name="creationUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SetTicketResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ticket" type="tns:Ticket"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SetTicketDetail-->
    <xs:element name="SetTicketDetailRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ticketId" type="xs:string"/>
                <xs:element name="message" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SetTicketDetailResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- UpdateTicket -->
    <xs:element name="UpdateTicketRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ticketId" type="xs:string"/>
                <xs:element name="status" type="xs:string"/>
                <xs:element name="assignedUserId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateTicketResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- RemoveSupport-->
    <xs:element name="RemoveSupportRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="supportId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RemoveSupportResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- RemoveSupportAssociation-->
    <xs:element name="RemoveSupportAssociationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="parentSupportId" type="xs:string"/>
                <xs:element name="childSupportId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RemoveSupportAssociationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- IsHierarchyValid-->
    <xs:element name="IsHierarchyValidRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="supportId" type="xs:string"/>
                <xs:element name="childSupportId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="IsHierarchyValidResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Endpoint Support Object-->
    <xs:complexType name="Support">
        <xs:sequence>
            <xs:element name="supportId"  type="xs:string"/>
            <xs:element name="userId" type="xs:string"/>
            <xs:element name="supportName" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Endpoint SupportAssociation Object-->
    <xs:complexType name="SupportAssociation">
        <xs:sequence>
            <xs:element name="supportAssociationId"  type="xs:string"/>
            <xs:element name="parentSupportId" type="xs:string"/>
            <xs:element name="childSupportId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Endpoint Ticket Object-->
    <xs:complexType name="Ticket">
        <xs:sequence>
            <xs:element name="ticketId"  type="xs:string"/>
            <xs:element name="status" type="xs:string"/>
            <xs:element name="creationDate" type="xs:string"/>
            <xs:element name="creationUserId" type="xs:string"/>
            <xs:element name="assignedUserId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Endpoint TicketDetail Object-->
    <xs:complexType name="TicketDetail">
        <xs:sequence>
            <xs:element name="ticketId"  type="xs:string"/>
            <xs:element name="ticketDetailId" type="xs:string"/>
            <xs:element name="detail" type="xs:string"/>
            <xs:element name="originalMessage" type="xs:boolean"/>
            <xs:element name="detailDate" type="xs:string"/>
            <xs:element name="detailUserId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>