src/main/resources/endpoints/users.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.mob.com/serverapi/users/base"
           targetNamespace="http://www.mob.com/serverapi/users/base" elementFormDefault="qualified">

    <!-- GetUserById-->
    <xs:element name="GetUserByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId"  type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetUserByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:User"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetUserRolesByUserId-->
    <xs:element name="GetUserRolesByUserIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId"  type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetUserRolesByUserIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userRole" type="tns:UserRole" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetUserFiltered-->
    <xs:element name="GetUserFilteredRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId"  type="xs:string" />
                <xs:element name="userName"  type="xs:string" />
                <xs:element name="userStatus"  type="xs:string" />
                <xs:element name="userEmail"  type="xs:string" />
                <xs:element name="startCreationDate"  type="xs:string" />
                <xs:element name="endCreationDate"  type="xs:string" />
                <xs:element name="field"  type="xs:string" />
                <xs:element name="orderField"  type="xs:string" />
                <xs:element name="offset"  type="xs:int"/>
                <xs:element name="numberRecords"  type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetUserFilteredResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:User" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetCountUserFiltered-->
    <xs:element name="GetCountUserFilteredRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId"  type="xs:string" />
                <xs:element name="userName"  type="xs:string" />
                <xs:element name="userStatus"  type="xs:string" />
                <xs:element name="userEmail"  type="xs:string" />
                <xs:element name="startCreationDate"  type="xs:string" />
                <xs:element name="endCreationDate"  type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCountUserFilteredResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- UserLogin-->
    <xs:element name="UserLoginRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userEmail" type="xs:string"/>
                <xs:element name="userPassword" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UserLoginResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:User"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SetUser-->
    <xs:element name="SetUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userName" type="xs:string"/>
                <xs:element name="userEmail" type="xs:string"/>
                <xs:element name="userPassword" type="xs:string"/>
                <xs:element name="actionUserId"  type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SetUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:User"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- UnblockUser-->
    <xs:element name="UnblockUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
                <xs:element name="actionUserId"  type="xs:string"/>

            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UnblockUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ChangeUserPw-->
    <xs:element name="ChangeUserPwRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
                <xs:element name="actionUserId"  type="xs:string"/>

            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ChangeUserPwResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- InactivateUser-->
    <xs:element name="InactivateUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
                <xs:element name="actionUserId"  type="xs:string"/>

            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="InactivateUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ActivateUser-->
    <xs:element name="ActivateUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
                <xs:element name="actionUserId"  type="xs:string"/>

            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ActivateUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ChangeLangPreference-->
    <xs:element name="ChangeLangPreferenceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
                <xs:element name="lang" type="xs:string"/>
                <xs:element name="actionUserId"  type="xs:string"/>

            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ChangeLangPreferenceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ChangeThemePreference-->
    <xs:element name="ChangeThemePreferenceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
                <xs:element name="theme" type="xs:string"/>
                <xs:element name="actionUserId"  type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ChangeThemePreferenceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ExistUserName-->
    <xs:element name="ExistUserNameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ExistUserNameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ExistUserEmail-->
    <xs:element name="ExistUserEmailRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userEmail" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ExistUserEmailResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SetUserAdmin-->
    <xs:element name="SetUserAdminRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SetUserAdminResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- RemoveUserAdmin-->
    <xs:element name="RemoveUserAdminRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RemoveUserAdminResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Endpoint User Object-->
    <xs:complexType name="User">
        <xs:sequence>
            <xs:element name="userId"  type="xs:string"/>
            <xs:element name="userName" type="xs:string"/>
            <xs:element name="userEmail" type="xs:string"/>
            <xs:element name="userStatus" type="xs:string"/>
            <xs:element name="languagePreference" type="xs:string"/>
            <xs:element name="themePreference" type="xs:string"/>
            <xs:element name="creationDate" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Endpoint UserRole Object-->
    <xs:complexType name="UserRole">
        <xs:sequence>
            <xs:element name="userRoleId"  type="xs:string"/>
            <xs:element name="userRoleName" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>